.badge {
    --badge-fg: var(--near-black);
    --badge-bg: var(--light-gray);
    --badge-border-color: var(--near-black);

    background-color: var(--badge-bg);
    border-color: var(--badge-border-color);
    border-radius: var(--badge-border-radius);
    border: none;
    color: var(--badge-fg);
    display: inline;
    text-align: center;
    padding: var(--badge-padding-vert) var(--badge-padding-horiz);
    font-size: var(--badge-font-size);
}

.small {
    --badge-padding-horiz: var(--spacing-extra-small);
    --badge-padding-vert: var(--spacing-extra-extra-small);
    --badge-font-size: var(--font-size-1);
}

.medium {
    --badge-padding-horiz: var(--spacing-small);
    --badge-padding-vert: var(--spacing-extra-small);
    --badge-font-size: var(--font-size-2);
}

.large {
    --badge-padding-horiz: var(--spacing-small);
    --badge-padding-vert: var(--spacing-extra-small);
    --badge-font-size: var(--font-size-3);
}

.extraLarge {
    --badge-padding-horiz: var(--spacing-small);
    --badge-padding-vert: var(--spacing-extra-small);
    --badge-font-size: var(--font-size-4);
}