.badge {
    --badge-fg: var(--near-black);
    --badge-bg: var(--light-gray);
    --badge-border-color: var(--near-black);
    --badge-box-shadow: var(--silver);

    box-shadow: var(--badge-box-shadow);
    background-color: var(--badge-bg);
    border-color: var(--badge-border-color);
}