.badgeBase,
.badgeDefault,
.badgeInfo,
.badgeSuccess,
.badgeWarning,
.badgeDanger {
    --badge-border-color: var(--near-black);
    --badge-border-radius: 10rem;
    --badge-padding-horiz: var(--spacing-small);
    --badge-padding-vert: var(--spacing-extra-small);
    --badge-border-width: 0;
    --badge-border-style: solid;

    --badgeBorder: var(--badge-border-width) var(--badge-border-style)
      var(--badge-border-color);
}

.badgeDefault {
    --badge-fg: var(--near-white);
    --badge-bg: var(--brand-default);
}

.badgeInfo {
    --badge-fg: var(--near-white);
    --badge-bg: var(--brand-info);
}

.badgeSuccess {
    --badge-fg: var(--near-black);
    --badge-bg: var(--brand-success);
}

.badgeWarning {
    --badge-fg: var(--near-black);
    --badge-bg: var(--brand-warning);
}

.badgeDanger {
    --badge-fg: var(--near-black);
    --badge-bg: var(--brand-danger);
}