.base,
.default,
.info,
.success,
.warning,
.danger {
    --badge-border-color: var(--near-black);
    --badge-border-radius: 10rem;
    --badge-border-width: 0;
    --badge-border-style: solid;

    --badgeBorder: var(--badge-border-width) var(--badge-border-style)
      var(--badge-border-color);
}

.default {
    --badge-fg: var(--near-white);
    --badge-bg: var(--brand-default);
}

.info {
    --badge-fg: var(--near-white);
    --badge-bg: var(--brand-info);
}

.success {
    --badge-fg: var(--near-black);
    --badge-bg: var(--brand-success);
}

.warning {
    --badge-fg: var(--near-black);
    --badge-bg: var(--brand-warning);
}

.danger {
    --badge-fg: var(--near-black);
    --badge-bg: var(--brand-danger);
}