.toast {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-small);
}

.toast > ul {
  flex: 0 1 auto;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--spacing-medium);
  justify-content: space-evenly;
}
.toast > ul > li {
  margin-left: var(--spacing-small);
  margin-right: var(--spacing-small);
}

.toastRow {
  display: flex;
  align-content: center;
}

.toastSpacing {
  margin: var(--spacing-extra-extra-large) var(--spacing-small);
}

.Toastify__toast--success {
  background: var(--brand-success); }
.Toastify__toast--warn {
  background: var(--brand-warning); }
.Toastify__toast--info {
  background: var(--brand-info); }
.Toastify__toast--error {
  background: var(--brand-danger); }

/*
.danger > div {
  background: var(--brand-danger);
  color: var(--near-white);
}
 */

.button {
  --button-fg: var(--near-black);
  --button-bg: var(--light-gray);
  --button-border-color: var(--near-black);
  --button-box-shadow-color: var(--silver);

  box-shadow: var(--button-box-shadow);
  background-color: var(--button-bg);
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  border: none;
  color: var(--button-fg);
  display: inline;
  text-align: center;
  cursor: pointer;
  padding: var(--button-padding-vert) var(--button-padding-horiz);
  font-size: var(--button-font-size);
}

.medium {
  --button-border-radius: var(--border-radius-2);
  --button-padding-horiz: var(--spacing-small);
  --button-padding-vert: var(--spacing-extra-small);
  --button-box-shadow: 2px 3px 3px var(--button-box-shadow-color);
  --button-font-size: var(--font-size-3);
}

.base,
.default,
.info,
.success,
.warning,
.danger {
  --button-border-color: var(--near-black);
  --button-border-radius: var(--border-radius-3);
  --button-box-shadow: 2px 3px 3px var(--button-box-shadow-color);
  --button-box-shadow-color: var(--silver);
  --button-padding-horiz: var(--spacing-small);
  --button-padding-vert: var(--spacing-extra-small);
  --button-border-width: 0;
  --button-border-style: solid;

  border: var(--button-border-width) var(--button-border-style)
  var(--button-border-color);
}

.default {
  --button-fg: var(--near-white);
  --button-bg: var(--brand-default);
}

.info {
  --button-fg: var(--near-white);
  --button-bg: var(--brand-info);
}

.success {
  --button-fg: var(--near-black);
  --button-bg: var(--brand-success);
}

.warning {
  --button-fg: var(--near-black);
  --button-bg: var(--brand-warning);
}

.danger {
  --button-fg: var(--near-black);
  --button-bg: var(--brand-danger);
}