article {
  display: grid;
  justify-content: center;
  align-self: center;
  width: 100%;
  height:100%;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 600px;
  height: 30px;
  border: 1px var(--blue) solid;
  border-top-left-radius: var(--border-radius-3);
  border-top-right-radius: var(--border-radius-3);
  justify-items: center;
  align-content: center;
  background-color: var(--blue);
  color: var(--near-white);
}
.headerLeft {
  grid-column: 1;
}
.headerRight {
  margin-right: var(--spacing-small);
  grid-column: 2;
}

section {
  border-left: 1px var(--blue) solid;
  border-right: 1px var(--blue) solid;
  border-bottom: 1px var(--blue) solid;
  height: 100px;
}
.toggled {
  transform: rotate(90deg);
  transition: transform .3s ease;
}

.toggle {
  transition: transform .3s ease;
}

.transition {

}
