.export {
  color: beige;
  background-color: green;
  margin-top: 5px;
  margin-left: 50%;
}

.chartGood {
  display: inline-block;
  background-color: var(--brand-success);
  color: var(--near-white);
  padding: var(--spacing-extra-extra-small);
  margin: 0;
}

.chartNormal {
  display: inline-block;
  background-color: var(--brand-info);
  color: var(--near-white);
  padding: var(--spacing-extra-extra-small);
  margin: 0;
}

.chartWarning {
  display: inline-block;
  background-color: var(--brand-warning);
  color: var(--near-black);
  padding: var(--spacing-extra-extra-small);
  margin: 0;
}

.chartDanger {
  display: inline-block;
  background-color: var(--brand-danger);
  color: var(--near-white);
  padding: var(--spacing-extra-extra-small);
  margin: 0;
}


.profitPercent,
.billedPercent,
.billedSpentPercent {
  padding: 0 !important;
  margin: 0 !important;
}

.dither .rt-tbody .rt-tr-group:nth-child(odd) .rt-tr {
  background-color: var(--light-gray);
}

.spanCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}