.animatedButton {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 2000ms infinite linear;
}

.spinner-reverse {
  animation: spin 2000ms infinite linear reverse;
}

.animatedButton > div {
  flex: 0 1 auto;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--spacing-medium);
  justify-content: space-evenly;
}

.animatedButtonRow {
}
